@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');


body{
  background-image: url("../static/images/Community-5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 70%;
  background-color: #0a0c13;
}


/*
orange: #F47226
green: #318C6A
dark-bg: #1C2135
light-bg: #222A3F
pinkish: #E3515E
*/

.navbar{
  background-color: #121722;
}

.navbar-brand{
  color: #D4D4D8;
  border-bottom: 1px solid #E3515E;
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  margin-left: 10px;
  text-decoration: none;
}
.navbar-brand:hover{
  color: #D4D4D8;
}

.nav-link{
  background-color: #121722;
  border: none;
  color: #D4D4D8;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  border-bottom: 1px solid #121722;
  transition: 0.3s;
}

.nav-link:hover{
  color: #D4D4D8;
  border-bottom: 1px solid #E3515E;
}

.nav-link:valid{
  color: #D4D4D8;
}


.punchline{
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
  color: #D4D4D8;
  font-size: 40px;
  padding: 50px;
  margin-top: 50px;
}

.reg-btn {
  border: 2px solid #E3515E;
  background-color: #0a0c13;
  color: #D4D4D8;
  padding: 14px 38px;
  font-size: 26px;
  cursor: pointer;
  transition: 0.4s;
}

.reg-btn:hover{
  background-color: #E3515E;
  color: #D4D4D8;
}

.register-btn{
  text-align: center;
  padding:20px;
  margin-top: 30px;
}

.social-media{
  margin-top: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #D4D4D8;
  transition: 0.5s;
}

.fa:hover{
  color: #E3515E;
}

#register_area-jq{
  width: 30%;
  background-color: #121722;
}
#login_area-jq{
  width: 30%;
  background-color: #121722;
}


.form-group{
  margin-top: 20px;
  font-size: medium;
  text-align: left;
  padding: 10px;
}

.register-btn-rp{
  background-color: #121722;
  border: 2px solid #E3515E;
  color: #D4D4D8;
  padding: 14px 38px;
  font-size: 26px;
  cursor: pointer;
  transition: 0.4s;
}

.register-btn-rp:hover{
  background-color: #E3515E;
  color: #D4D4D8;
}

.error_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.error_area{
  margin-top: 170px;
  background-color: #121722;
  width: 30%;
  font-size:30px;
  color: #D4D4D8;
  text-align: center;
  padding:30px;
}

/*Side Bar for Home Page */

.sidebar {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  overflow: visible;
  z-index: 10;
  background-color: #121722;
  transition: left 0.3s ease, width 0.3s ease;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding-bottom: 10px;
  overflow: hidden;
}

.menu a {
  display: block;
  color: #D4D4D8;
  padding: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.menu a.active {
  border-right: 2px solid #E3515E;
}

.menu a:hover:not(.active) {
  border-left: 1px solid #E3515E;
  color: white;
}


.menu>a:not(.bottom)+.bottom {
  margin-top: auto;
}

.navbar-brand-2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.bottom{
  margin-top: auto;
  text-align: center;
  transition: 0.4s;
}
.bottom:hover{
  border:1px solid #E3515E;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.explore-area{
  padding:50px;
}
.checkbox-list{
  display: inline-block;
  width:300px;
  color: #D4D4D8;
  background-color: #121722;
  margin: 10px;
  padding:10px;
  padding-left:30px;
}

.checkbox-list > span {
  padding-left:20px;
}

.explore-btn-container{
  padding:40px;
  text-align: center;
}
.explore-btn{
  width:30%;
  background-color: #121722;
  border: 1px solid #E3515E;
  color: #D4D4D8;
  padding: 14px 28px;
  cursor: pointer;
  transition: 0.4s;
}
.explore-btn:hover{
  background-color: #E3515E;
  color: #D4D4D8;
}

.content{
  color: #D4D4D8;
}

.list-block{
  background-color: #121722;
  width: 100%;
  padding:30px;
  margin-bottom:20px;
}

.list-title{
  font-size: larger;
  width:100%;
  text-align: center;
  border-bottom: 1px solid #E3515E;
}

.list-item{
  padding: 5px;
  padding-left:30px;
}

.list-item:nth-of-type(odd){
  background-color: #171e2c;
}

.home-block{
  width: 100%;
  padding: 90px;
}

.block-item{
  padding:10px;
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: #121722;
}

.home-block > a{
  color: #D4D4D8;
  text-decoration: none;
}