{% extends "layout.html"%}

{% block title %}
  Explore
{% endblock%}
{% block body%}

<!--NavBar Code-->
  
  <div class="sidebar">
    <div class="menu">
    <a class="navbar-brand-2" href="/">Community</a>
    <a class="active" href="/explore">Explore</a>
    <a href="#contact">Account</a>
    <a href="/logout" class="bottom">Logout</a>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="content">
    <div class="explore-area">
      <form action = "/explore" method="post" name="explore-list">
      {% for row in rows %}
        <div  class="checkbox-list">
          <input name="list" type="checkbox" value="{{row['tid']}}"><span>{{ row['name'] }}</span>
        </div>
      {% endfor %}
      <div class="explore-btn-container">
        <input type="submit" value="Find Community" class="explore-btn">
      </div>
    </form>
    </div>
  </div>


{% endblock %}