{% extends "layout.html"%}

{% block title %}
  Home
{% endblock%}
{% block body%}

<!--NavBar Code-->
  
  <div class="sidebar">
    <div class="menu">
    <a class="active navbar-brand-2" href="/">Community</a>
    <a href="#news">Explore</a>
    <!--<a href="#contact">Contact</a>-->
    <a href="#logout" class="bottom">Logout</a>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="content">
    ..
  </div>
  
  <!--<nav class="navbar navbar-expand-lg">-->
  <!--    <div class="container-fluid">-->
  <!--      <a id="community-home" class="navbar-brand" href="#">Community</a>-->
  <!--      <form action="/intro" method="get">-->
  <!--      <ul class="navbar-nav">-->
  <!--          <li id="login-btn" class="nav-item active">-->
  <!--            <input type="submit" id="login_btn-jq" value="Logout"  class="nav-link">-->
  <!--          </li>-->
  <!--      </ul>-->
  <!--    </form>-->
  <!--    </div>-->
  <!--  </nav>-->


{% endblock %}