{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block body %}
  
  
  <!--NavBar Code-->
  
  <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a id="community-home" class="navbar-brand" href="#">Community</a>
        <ul class="navbar-nav">
          <li id="login-btn" class="nav-item active">
            <button id="login_btn-jq" class="nav-link" href="#">Login</button>
          </li>
          <li class="nav-item">
            <button id="register_btn1-jq" class="nav-link" href="#">Register</button>
          </li>
        </ul>
      </div>
    </nav>


    <!--Intro Area Code-->

    <div id="intro_area-jq" class="container display-2 punchline">
    Bringing people together with common intrests,<br><br>
    To help create a better tommorow.
      <div class = "register-btn">
        <button id="register_btn-jq" type="button" class="reg-btn">Register</button>
      </div>
      <div class="social-media">
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube-play"></a>
      </div>  
    </div>

  
    <!-- Registration Form Area -->


    <div id="register_area-jq" class="container  punchline">
      Register
      <form action="/intro" method="post" onsubmit="return reg_validate()" name="register-form">
        <div class="form-group">
          <label class="form-label" for="email">Email address:</label>
          <input name="username" id="reg-username" type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
          <label class="form-label" for="pwd">Password:</label>
          <input name="password" id="reg-pass" type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class="form-group">
          <label class="form-label" for="pwd">Confirm Password:</label>
          <input name="confirm" id="reg-confirm" type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class = "register-btn">
          <input id="register_btn-jq" name="submit_button" value="Register" type="submit" class="register-btn-rp">
        </div>
      </form> 
    </div>



    <!-- Login Form Area -->


    <div id="login_area-jq" class="container display-2 punchline">
      Login
      <form action="/intro" method="post" name="login-form" onsubmit="return login_validate">
        <div class="form-group">
          <label class="form-label" for="email">Email address:</label>
          <input name="username" type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
          <label class="form-label" for="pwd">Password:</label>
          <input name="password" type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class = "register-btn">
          <input id="login_btn-jq" name="submit_button" value="Login" type="submit" class="register-btn-rp">
        </div>
      </form> 
    </div>



      <!--JQuerry For Intro Page-->

    <script src="static/login_jquery.js"></script>
  
{% endblock %}
